.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 51rem;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* .btn {
	width: 10rem;
	height: 1.75rem;
	padding: 0.75rem;
	color: aliceblue;
	background-color: blue;
} */
