.container {
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	width: 51rem;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.form-container input {
	font-size: 18px;
}
button {
	width: 328px;
	height: 58px;
	padding: 0.75rem;
	color: aliceblue;
	background-color: grey;
}

button :hover {
	background-color: aliceblue;
	cursor: pointer;
}
